@using SmartWr.Ipos.Core.Settings
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>@IposConfig.AppName - @ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Smartware Interactive Point of Sale (IPOS)">
    <meta name="author" content="Smartware Solutions">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/loading-bar.css" rel="stylesheet" />


    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="~/Content/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/Content/assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/Content/assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/Content/assets/pages/css/login-5.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/angular-block-ui.css" rel="stylesheet" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<body class=" login">
    <!-- BEGIN : LOGIN PAGE 5-2 -->
    <div class="user-login-5" ng-app="iposApp">
        @RenderBody()
    </div>
    <!-- END : LOGIN PAGE 5-2 -->
    <!--[if lt IE 9]>
    <script src="../assets/global/plugins/respond.min.js"></script>
    <script src="../assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/Content/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/Content/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>


    @*<script src="../assets/global/scripts/app.min.js" type="text/javascript"></script>*@
    <!-- END THEME GLOBAL SCRIPTS -->

    <script src="~/Content/assets/global/scripts/app.min.js"></script>
    <script src="~/Content/assets/pages/scripts/login-5.min.js"></script>
    <!-- 3rd Party SCRIPTS -->


    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>
    <script src="~/Scripts/smartwr/serialize2json.js"></script>
    @*<script src="~/Scripts/bootstrap.js"></script>*@
    <script src="~/Scripts/loading-bar.js"></script>
    <script src="~/Scripts/angular-block-ui.js"></script>
    @*<script src="~/Content/plugins/notifyjs/dist/notify.min.js"></script>
    <script src="~/Content/plugins/notifyjs/dist/styles/metro/notify-metro.js"></script>*@
   
   
    <!--Ipos Custom Scripts-->
    <script src="~/App/app.auth.js"></script>
    <script src="~/App/common/requestSvc.js"></script>

    <script>
        var resizefunc = [];
        window.appUrl = '@Url.Content("~/")';
        window.notifier = function (type, header, message) {
            $.Notification.notify(type, 'right top', header, message);
        }
    </script>

    @*<script src="../assets/pages/scripts/login-5.min.js" type="text/javascript"></script>*@
    @*<script src="~/Scripts/login-5.min.js"></script>*@
    @RenderSection("Scripts", false)
</body>
</html>